
<div class="span6 offset3 boxy text-center">
	<h1 class="h1-custom">Hi I'm Ming</h1>
	<br/>
	<h2 class="h2-custom">I'm having a ton of fun learning web development!</h2>
	<br/>
	<br/>
	<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large' %>
</div>